@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: 0;
  padding: 0;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}

@font-face {
  font-family: "Centra";
  src: url("../fonts/CentraNo2-Book.woff");
}
@font-face {
  font-family: "Centra Bold";
  src: url("../fonts/CentraNo2-Bold.woff");
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("../fonts/NotoSansKR-Regular.woff");
}
* {
  font-family: "Centra", "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.slide-item, .header-gnb-top-cont {
  width: calc(100% - 240px);
}

.header-gnb-top {
  display: flex;
  justify-content: center;
  height: 40px;
  border-bottom: 1px solid #bcbcbc;
}
.header-gnb-top-cont {
  display: flex;
  justify-content: flex-end;
}
.header-gnb-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 60px;
  border-bottom: 1px solid #bcbcbc;
}
.header-gnb-bottom-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 240px);
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 100%;
  padding: 0 22px 0 25px;
  border-left: 1px solid #bcbcbc;
}
.search:hover, .search:hover .search-bar {
  background-color: #eeeeee;
}
.search:hover .search-btn {
  color: #002BD2;
}
.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.search-bar {
  width: 220px;
  border: 0;
}
.search-btn {
  height: 17px;
  padding-top: 2px;
  font-stretch: 50%;
}

.link-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 422px;
  height: 100%;
  border-left: 1px solid #bcbcbc;
}
.link-list-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 50px);
}
.link-list-wrap li {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 13px;
}
.link-list-wrap li:hover {
  color: #002BD2;
}
.link-list-compare {
  font-family: "맑은 고딕", sans-serif;
  font-size: 12px;
}
.link-list-compare:before {
  display: inline-block;
  content: "";
  width: 14px;
  height: 14px;
  margin-right: 3px;
  background: url("../images/compare.png") no-repeat center;
  background-size: contain;
  vertical-align: top;
}
.link-list-compare:hover {
  font-family: "맑은 고딕", sans-serif;
  font-size: 12px;
}
.link-list-compare:hover:before {
  display: inline-block;
  content: "";
  width: 14px;
  height: 14px;
  margin-right: 3px;
  background: url("../images/compare_hover.png") no-repeat center;
  background-size: contain;
  vertical-align: top;
}
.link-list-cart {
  font-family: "맑은 고딕", sans-serif;
  font-size: 12px;
}
.link-list-cart:before {
  display: inline-block;
  content: "";
  width: 14px;
  height: 14px;
  margin-right: 3px;
  background: url("../images/cart.png") no-repeat center;
  background-size: contain;
  vertical-align: top;
}
.link-list-cart:hover {
  font-family: "맑은 고딕", sans-serif;
  font-size: 12px;
}
.link-list-cart:hover:before {
  display: inline-block;
  content: "";
  width: 14px;
  height: 14px;
  margin-right: 3px;
  background: url("../images/cart_hover.png") no-repeat center;
  background-size: contain;
  vertical-align: top;
}

.gnb-logo {
  width: 80px;
  height: 24px;
}

.gnb-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 374px;
}
.gnb-menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.gnb-menu-item:hover {
  color: #002BD2;
}
.gnb-menu-item:hover .gnb-menu-dropdown {
  display: block;
}
.gnb-menu-txt {
  display: inline-block;
  padding-top: 5px;
  font-family: "Centra Bold", sans-serif;
  font-weight: 700;
  font-size: 16px;
}
.gnb-menu-dropdown {
  display: none;
  position: absolute;
  z-index: 10;
  padding: 30px 30px 10px 30px;
  background-color: #282828;
  font-family: "Centra", sans-serif;
  font-size: 14px;
  color: #ffffff;
}
.gnb-menu-dropdown-list:not(:last-child) {
  margin-bottom: 20px;
}
.gnb-menu-dropdown-txt {
  display: inline-block;
  height: 18px;
  padding-bottom: 20px;
  box-sizing: content-box;
}
.gnb-menu-dropdown-txt:hover {
  color: #002BD2;
}

.dropdown-1 {
  top: 60px;
  right: 370px;
  width: 165px;
}
.dropdown-2 {
  top: 60px;
  right: 0;
  width: 700px;
}
.dropdown-3 {
  top: 60px;
  right: 40px;
  width: 195px;
}
.dropdown-item {
  display: flex;
  align-items: center;
  height: 44px;
}
.dropdown-txt {
  display: flex;
  align-items: center;
  width: 160px;
  height: 100%;
  border-right: 1px solid #444444;
  box-sizing: content-box;
  font-family: "Centra Bold", "Noto Sans KR", sans-serif;
}
.dropdown-txt:hover {
  color: #002BD2;
}
.dropdown-list {
  display: flex;
  align-items: center;
  flex: 1;
  padding-left: 30px;
}
.dropdown-list-item {
  display: flex;
  align-items: center;
}
.dropdown-list-txt {
  display: inline-block;
  box-sizing: content-box;
  margin-right: 15px;
  font-family: "Centra Bold", "Noto Sans KR", sans-serif;
}
.dropdown-list-txt:hover {
  color: #002BD2;
}

.bold {
  font-weight: 700;
}
.bold:hover {
  color: inherit;
}
.bold-hover {
  font-weight: 700;
}
.bold-hover:hover {
  color: #002BD2;
}

.main-section-slide {
  position: relative;
}

.fixed-link {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 10;
}
.fixed-link a {
  display: inline-block;
  width: 99px;
  height: 36px;
  padding: 8px 16px;
  border-radius: 100px;
  background-color: #ffffff;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  font-size: 13px;
  line-height: 19px;
  text-align: center;
}
.fixed-link a:before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  padding-right: 3px;
  background-size: contain;
  vertical-align: middle;
}
.fixed-link .find-store {
  margin-bottom: 10px;
}
.fixed-link .find-store:before {
  background: url("../images/img_icon.svg") no-repeat;
}
.fixed-link .inquiry-bot:before {
  background: url("../images/kakao_icon.svg") no-repeat;
}

.slide-list {
  position: relative;
  height: 900px;
  padding: 40px 120px 120px;
  box-sizing: content-box;
}
.slide-item {
  display: flex;
  position: absolute;
  opacity: 0;
  transition: all 1s;
}
.slide-left {
  width: 500px;
  margin-top: 90px;
  font-family: "Centra Bold", "Noto Sans KR", sans-serif;
}
.slide-left-title {
  font-size: 60px;
  line-height: 80px;
  letter-spacing: -3px;
  white-space: pre-line;
}
.slide-left-name {
  display: inline-block;
  margin-top: 10px;
  font-size: 80px;
  line-height: 104px;
}
.slide-left-img {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 40px;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  white-space: pre-line;
  color: #999999;
}
.slide-left-img:hover {
  color: #000000;
}
.slide-left-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 72px;
  width: 28px;
  height: 28px;
  background: url("../images/outlink_play.svg") no-repeat;
  background-size: contain;
}
.slide-left-btn1::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  background: url("../images/slide_left01.png") no-repeat;
  background-size: contain;
}
.slide-left-btn2::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  background: url("../images/slide_left02.png") no-repeat;
  background-size: contain;
}
.slide-left-btn3::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  background: url("../images/slide_left03.png") no-repeat;
  background-size: contain;
}
.slide-left-btn4::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  background: url("../images/slide_left04.png") no-repeat;
  background-size: contain;
}
.slide-left-btn5::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  background: url("../images/slide_left05.png") no-repeat;
  background-size: contain;
}
.slide-right1 {
  flex: 1;
  height: 900px;
  background: url("../images/slide_right01.jpg") no-repeat center;
  background-size: cover;
}
.slide-right2 {
  flex: 1;
  height: 900px;
  background: url("../images/slide_right02.jpg") no-repeat center;
  background-size: cover;
}
.slide-right3 {
  flex: 1;
  height: 900px;
  background: url("../images/slide_right03.jpg") no-repeat center;
  background-size: cover;
}
.slide-right4 {
  flex: 1;
  height: 900px;
  background: url("../images/slide_right04.jpg") no-repeat center;
  background-size: cover;
}
.slide-right5 {
  flex: 1;
  height: 900px;
  background: url("../images/slide_right05.jpg") no-repeat center;
  background-size: cover;
}
.slide-right-link {
  display: block;
  width: 100%;
  height: 100%;
}
.slide-control {
  display: flex;
  position: absolute;
  left: 120px;
  bottom: 300px;
}
.slide-btn {
  width: 75px;
  height: 26px;
  background-size: cover;
  background-repeat: no-repeat;
}
.slide-btn-prev {
  margin-right: 20px;
  background-image: url("../images/prev.png");
}
.slide-btn-prev:hover {
  background-image: url("../images/prev_hover.png");
}
.slide-btn-next {
  background-image: url("../images/next.png");
}
.slide-btn-next:hover {
  background-image: url("../images/next_hover.png");
}
.slide-show {
  opacity: 1;
}

.product {
  border-top: 1px solid #000000;
}
.product-wrap {
  position: relative;
  width: 1220px;
  margin: 0 auto;
}
.product-wrap2 {
  position: relative;
  width: 1220px;
  margin: 0 auto;
  padding: 80px 0 120px;
}
.product-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 35px;
}
.product-title-txt {
  font-size: 34px;
  line-height: 44px;
}
.product-title-link {
  position: absolute;
  top: 31px;
  right: 0;
  font-size: 13px;
  color: #002BD2;
}
.product-title-link:hover {
  text-decoration: underline;
}
.product-display1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  height: 1832px;
}
.product-display2 {
  display: flex;
  justify-content: space-between;
}
.product-display2 .product-img {
  width: 340px;
}
.product-item {
  padding-bottom: 80px;
}
.product-item-title {
  margin: 30px 0 10px;
  font-family: "Centra Bold", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 65px;
  text-align: center;
}
.product-item-txt {
  display: block;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
}
.product-img:hover {
  opacity: 80%;
}
.product.pd-top {
  padding-top: 80px;
}

.link-top {
  top: 111px;
}

/*# sourceMappingURL=style.css.map */
