@mixin flex($justify: false, $align: false, $direction: false) {
  display: flex;
  @if ($justify) {
    justify-content: $justify;
  }
  @if ($align) {
    align-items: $align;
  }
  @if ($direction) {
    flex-direction: $direction;
  }
}

@mixin txt-hover($color) {
  @if ($color == 'blue') {
    &:hover {
      color: #002BD2;
    }
  } @else if ($color == 'black') {
    &:hover {
      color: #000000;
    }
  }
}

@mixin icon($name) {
  font-family: '맑은 고딕', sans-serif;
  font-size: 12px;

  &:before {
    display: inline-block;
    content: '';
    width: 14px;
    height: 14px;
    margin-right: 3px;
    background: url('../images/#{$name}.png') no-repeat center;
    background-size: contain;
    vertical-align: top;
  }
}