.header {
  
  &-gnb {

    &-top {
      @include flex(center);
      height: 40px;
      border-bottom: 1px solid #bcbcbc;

      &-cont {
        @include flex(flex-end);
        width: calc(100% - 240px);
      }
    }

    &-bottom {
      @include flex(center, center);
      position: relative;
      height: 60px;
      border-bottom: 1px solid #bcbcbc;

      &-cont {
        @include flex(space-between, center);
        width: calc(100% - 240px);
      }
    }
  }
}

.search {
  @include flex(center, center);
  width: 340px;
  height: 100%;
  padding: 0 22px 0 25px;
  border-left: 1px solid #bcbcbc;

  &:hover, &:hover &-bar {
    background-color: #eeeeee;
  }

  &:hover &-btn {
    color: #002BD2;
  }

  &-form {
    @include flex(space-between, center);
    width: 100%;
  }

  &-bar {
    width: 220px;
    border: 0;
  }

  &-btn {
    height: 17px;
    padding-top: 2px;
    font-stretch: 50%;
  }
}

.link-list {
  @include flex(flex-end, center);
  width: 422px;
  height: 100%;
  border-left: 1px solid #bcbcbc;

  &-wrap {
    @include flex(space-between, center);
    width: calc(100% - 50px);

    & li {
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 13px;
      @extend %txt-hover;
    }
  }

  &-compare {
    @include icon('compare');

    &:hover {
      @include icon('compare_hover');
    }
  }

  &-cart {
    @include icon('cart');

    &:hover {
      @include icon('cart_hover');
    }
  }
}

.gnb-logo {
  width: 80px;
  height: 24px;
}

.gnb-menu {
  &-list {
    @include flex(space-between, center);
    width: 374px;
  }

  &-item {
    @include flex(center, center);
    height: 60px;
    @extend %txt-hover;
  }

  &-item:hover &-dropdown {
    display: block;
  }

  &-txt {
    display: inline-block;
    padding-top: 5px;
    font-weight: 700;
    font-size: 16px;
  }

  &-dropdown {
    display: none;
    position: absolute;
    padding: 30px 30px 10px 30px;
    background-color: #282828;
    font-family: 'Centra', sans-serif;
    font-size: 14px;
    color: #ffffff;

    &-list:not(:last-child) {
      margin-bottom: 20px;
    }

    &-txt {
      display: inline-block;
      height: 18px;
      padding-bottom: 20px;
      box-sizing: content-box;
      @extend %txt-hover;
    }
  }
}

.dropdown {
  &-1 {
    top: 60px;
    right: 370px;
    width: 165px;
  }

  &-2 {
    top: 60px;
    right: 0;
    width: 700px;
  }

  &-3 {
    top: 60px;
    right: 40px;
    width: 195px;
  }

  &-item {
    @include flex(false, center);
    height: 44px;
  }

  &-txt {
    @include flex(false, center);
    width: 160px;
    height: 100%;
    border-right: 1px solid #444444;
    box-sizing: content-box;
    @extend %txt-hover;
  }

  &-list {
    @include flex(false, center);
    flex: 1;
    padding-left: 30px;

    &-item {
      @include flex(false, center);
    }

    &-txt {
      display: inline-block;
      box-sizing: content-box;
      margin-right: 15px;
      @extend %txt-hover;
    }
  }
}

.bold {
  font-weight: 700;
  
  &:hover {
    color: inherit;
  }

  &-hover {
    font-weight: 700;
    @extend %txt-hover;
  }
}