.main {
  &-section-slide {
    position: relative;
  }
}

.fixed-link {
  @include flex(false, center, column);
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 10;

  & a {
    display: inline-block;
    width: 99px;
    height: 36px;
    padding: 8px 16px;
    border-radius: 100px;
    background-color: #ffffff;
    box-shadow: 0px 4px 5px rgb(0 0 0 / 15%);
    font-size: 13px;
    line-height: 19px;
    text-align: center;

    &:before {
      content: '';
      display: inline-block;
      width: 14px;
      height: 14px;
      padding-right: 3px;
      background-size: contain;
      vertical-align: middle;
    }
  }

  .find-store {
    margin-bottom: 10px;
    &:before {
      background: url('../images/img_icon.svg') no-repeat;
    }
  }

  .inquiry-bot {
    &:before {
      background: url('../images/kakao_icon.svg') no-repeat;
      
    }
  }
}

.slide {
  &-list {
    position: relative;
    height: 900px;
    padding: 40px 120px 120px;
    box-sizing: content-box;
  }

  &-item {
    @include flex;
    @extend %container-width;
    position: absolute;
    opacity: 0;
    transition: all 1s;
  }

  &-left {
    width: 500px;
    margin-top: 90px;
    font-family: 'Centra Bold', 'Noto Sans KR', sans-serif;

    &-title {
      font-size: 60px;
      line-height: 80px;
      letter-spacing: -3px;
      white-space: pre-line;
    }

    &-name {
      display: inline-block;
      margin-top: 10px;
      font-size: 80px;
      line-height: 104px;
    }

    &-img {
      @include flex(false, center);
      position: relative;
      margin-top: 40px;
      font-size: 14px;
      font-weight: 700;
      line-height: 21px;
      text-align: left;
      white-space: pre-line;
      color: #999999;
      @include txt-hover('black');
  
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 72px;
        width: 28px;
        height: 28px;
        background: url('../images/outlink_play.svg') no-repeat;
        background-size: contain;
      }
    }

    &-btn {
      @for $i from 1 to 6 {
        &#{$i}::before {
          content: '';
          display: block;
          width: 100px;
          height: 100px;
          margin-right: 20px;
          background: url('../images/slide_left0' + #{$i} + '.png') no-repeat;
          background-size: contain;
        }
      }
    }
  }

  @for $i from 1 to 6 {
    &-right#{$i} {
      flex: 1;
      height: 900px;
      background: url('../images/slide_right0' + #{$i} +'.jpg') no-repeat center;
      background-size: cover;
    }
  }

  &-right-link {
    display: block;
    width: 100%;
    height: 100%;
  }

  &-control {
    @include flex;
    position: absolute;
    left: 120px;
    bottom: 300px;

  }

  &-btn {
    width: 75px;
    height: 26px;
    background-size: cover;
    background-repeat: no-repeat;

    &-prev {
      margin-right: 20px;
      background-image: url('../images/prev.png');

      &:hover {
        background-image: url('../images/prev_hover.png');
      }
    }

    &-next {
      background-image: url('../images/next.png');

      &:hover {
        background-image: url('../images/next_hover.png');
      }
    }
  }

  &-show {
    opacity: 1;
  }
}

.product {
  border-top: 1px solid #000000;

  &-wrap {
    position: relative;
    width: 1220px;
    margin: 0 auto;
  }

  &-wrap2 {
    position: relative;
    width: 1220px;
    margin: 0 auto;
    padding: 80px 0 120px;
  }

  &-title {
    @include flex(space-between, flex-end);
    margin-bottom: 35px;

    &-txt {
      font-size: 34px;
      line-height: 44px;
    }

    &-link {
      position: absolute;
      top: 31px;
      right: 0;
      font-size: 13px;
      color: $blue;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-display1 {
    @include flex(false, false, column);
    flex-wrap: wrap;
    align-content: space-between;
    height: 1832px;
  }

  &-display2 {
    @include flex(space-between);

    & .product-img {
      width: 340px;
    }
  }

  &-item {
    padding-bottom: 80px;

    &-title {
      margin: 30px 0 10px;
      font-family: 'Centra Bold', sans-serif;
      font-weight: 700;
      font-size: 50px;
      line-height: 65px;
      text-align: center;
    }

    &-txt {
      display: block;
      font-size: 24px;
      line-height: 31px;
      text-align: center;
    }
  }

  &.pd-top {
    padding-top: 80px;
  }
}